body    {
    background-image: url("secreto.jpg");
    background-size: cover;
}

footer {
    background-color: #00acc1; 
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
}

.voltar-inicio {
    text-align: center;
    margin-top: 20px;
}

.voltar-inicio a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00acc1; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.voltar-inicio a:hover {
    background-color: #00bcd4; 
}
